/**
* Variables 
*/

:root{
    --color-white: #f5f5f5;
    --color-lightest-gray: #e5e6e1;
    --color-light-gray: #dddfd2;
    --color-lighest-green: #bac8ad;
    --color-light-green: #88a285;
    --color-green: #48624d;
    --color-dark-green: #233327;
    --lg-gutter: 40px;
    --scroll-nav-height: 110px;
}

/**
* Scaffold 
*/
* {
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

li {
    list-style-type: none;
}

.icon--link {
    transform: scale(1);
    transition: transform .25s ease-in-out;
}

.icon--link:hover {
    transform: scale(1.2);
    transition: transform .25s ease-in-out;
}

a.text--light-gray:hover {
    color: var(--color-lighest-green);
}

/** 
* Background 
*/

.bg--white {
    background: var(--color-white);
}

.bg--lightest-gray {
    background: var(--color-lightest-gray);
}

.bg--light-gray {
    background: var(--color-light-gray);
}

.bg--lighest-grenn {
    background: var(--color-lighest-green);
}

.bg--light-green {
    background: var(--color-light-green);
}

.bg--green {
    background: var(--color-green);
}

.bg--dark-green {
    background: var(--color-dark-green);
}

.bg--none {
    background: transparent
}

/**
* Fonts
*/
@font-face {
  font-family: EngraversGothic;
  src: url(fonts/EngraversGothicRegular.otf);
}

* {
  font-family: EngraversGothic;
}

/** 
* Typography 
*/
.text--white {
    color: var(--color-white);
}

.text--lightest-gray {
    color: var(--color-lightest-gray);
}

.text--light-gray {
    color: var(--color-light-gray);
}

.text--lighest-grenn {
    color: var(--color-lighest-green);
}

.text--light-green {
    color: var(--color-light-green);
}

.text--green {
    color: var(--color-green);
}

.text--dark-green {
    color: var(--color-dark-green);
}

.text--upper {
    text-transform: uppercase;
}

.text--left {
    text-align: left;
}

.bold {
    font-weight: 800px;
}

.font--base {
    font-size: 16px;
}

.font-size--medium {
    font-size: 22px;
}

/**
* Helpers
*/
.set--full {
    width: 100%;
    height: 100%;
}

.set--full-height {
    height: 100%;
}


/**
* Buttons
*/
.button {
    display: block;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    color: var(--color-white);
    background: var(--color-green);
    border: 2px solid var(--color-green);

    -webkit-appearance: initial;
    -moz-appearance: initial;
}

.button:hover {
    text-decoration: none;
    color: var(--color-green);
    background: var(--color-white);
    transition: all .25s ease-out;
}

/** 
* Effects 
*/
.fade--static {
    opacity: 0;
    position: relative;
    top: -40px;
}

.fade--initial {
    opacity: 0;
    position: relative;
    top: -100px;
}

.fade--active {
    opacity: 1;
    top: 0;
    transition: all 400ms ease-in-out;
}



/**
* Loader
*/
.loader {
    height: 100vh;
    width: 100vw;
    z-index: 100;
}
@keyframes ldio-28oammjtkfe {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-28oammjtkfe div {
    box-sizing: border-box !important
}

.ldio-28oammjtkfe>div {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 44px;
    left: 44px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #48624d transparent #48624d transparent;
    animation: ldio-28oammjtkfe 1.5873015873015872s linear infinite;
}

.ldio-28oammjtkfe>div:nth-child(2) {
    border-color: transparent
}

.ldio-28oammjtkfe>div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-28oammjtkfe>div:nth-child(2) div:before,
.ldio-28oammjtkfe>div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 32px;
    background: #48624d;
    border-radius: 50%;
    box-shadow: 0 96px 0 0 #48624d;
}

.ldio-28oammjtkfe>div:nth-child(2) div:after {
    left: -16px;
    top: 32px;
    box-shadow: 96px 0 0 0 #48624d;
}

.loadingio-spinner-dual-ring-l1l67wyy52 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-28oammjtkfe {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-28oammjtkfe div {
    box-sizing: content-box;
}

/** 
* Display Components 
*/
.section--image-background {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section--center {
    align-items: center 
}

.section--left {
    align-items: start;
}

.location-link i {
    height: 17px;
    width: 17px;
    color: #fff;
}

.grid__tile {
    padding: 0;
    position: relative;
}

.grid__tile-text {
    height: auto;
}

.sub-hero {
    margin-top: 20px;
}

.section--cover {
    position: absolute;
}

.section--dark-overlay {
    background: rgba(0, 0, 0, 0.6);
}

.full-width {
    width: 100%;
}

.grid__row {
    width: 100%;
    display: flex;
}


/**
*   Nav 
*/
.header {
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    position: fixed;
    height: 100%;
    width: 100%;
}

.nav__links {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.nav__link {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.nav__button-close {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

/*** Images ***/
.section__image--bg {
    max-width: 100%;
    height: 100vh;
}
img {
    width: 100%;;
}

.left-space {
    padding-left: 25px;
}


.section__icon svg {
    height: 50px;
}

.list__link {
    margin-bottom: 10px;
}

.list__link:last-child {
    margin-bottom: 0;
}

/**
* Registry
*/
.registry__icon {
    max-width: 250px;
}

/**
** Footer
*/

.footer__icon svg {
    fill: var(--color-light-gray);
}

/**
*   Mobile
*/
@media screen and (max-width: 766px) {
    /**
    * Typogrpahy 
    */
    .font-size--large {
        font-size: 45px;
    }
    /**
    *   Nav 
    */
    .nav {
        top: 0;
        visibility: hidden;
        opacity: 0;
        display: block;
        padding-top: 50px;
        background:  var(--color-white)
    }

     .nav__links {
        position: relative;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    } 

    .nav__link {
        padding-bottom: 30px;
        color: var(--color-dark-green);
    }

     .nav--active {
        visibility: visible;
        opacity: 1;
        transition: opacity 100ms ease-out;
    }

    .nav__item--sm-extra {
        height: 150px;
        margin: 0 auto 50px;
    }

    .nav__button-close i {
        color: var(--color-dark-green);
    }

    .logo {
        height: 100%;
        width: auto;
    }


    /**
    *   Effects
    */

    .fade--static-sm-only {
        opacity: 0;
        position: relative;
        top: -40px;
    }

    /**
    *   Display Components 
    */

    .section {
        padding: 40px;
    }
    .hero-copy__text {
        margin-bottom: 40px;
    }

    .hero-copy {
        flex-direction: column;
        justify-content: flex-start;
    }

    .sub-hero-copy__text {
        padding: 10px 0;
    }

    .grid__row {
        flex-direction: column;
    }

    .grid__tile {
        width: 100%;
    }

    .grid__tile--last {
        order: 2;
    }

    .grid__tile--first {
        order: 1;
    }

    .sub-hero-copy__text {}

    /** 
    *   Images
    */
    .section--main-image {
        background-image: url("images/main-m.jpg");
    }

    .section--secondary-image {
        background-image: url("images/secondary-m.jpg");
    }

    .section--ending-image {
        background-image: url("images/ending-m.jpg");
    }

    /**
    ** Footer
    */
    .footer {
        height: 75px;
    }

    .footer__icon svg {
        height: 50px;
    }
}

/** Desktop **/
@media screen and (min-width: 767px) {
    /**
    * Typography
    */
    .font-size--large {
        font-size: 75px;
    }

    /**
    *   Nav 
    */
    .nav {
        width: 100%;
        left: 0;
        height: auto;
        display: flex;
        height: 150px;
        background: transparent;
    }

    .nav--scroll {
        transition: all .25s ease-out;
        height: var(--scroll-nav-height);
        background: rgba(35, 51, 39, 0.8);
    }

    .nav__links {
        width: 100%;
        max-width: calc(100% - (var(--lg-gutter) * 2));
        margin: 0 auto;
        opacity: 1;
        max-height: 100%;
        height: 100%;
    }

    .nav-item__wrapper {
        flex: 2;
    }

    .nav__item {
        opacity: 0;
        position: relative;
        top: -25px;
    }

    .nav__item--active {
        opacity: 1;
        top: 0;
        transition: all 400ms ease-out;
    }

    .nav__item:not(.nav__item--extra) {
        align-self: center;
        height: 50px;
    }

    .nav__item--extra {
        flex: 1;
        position: relative;
    }

    .nav__item--extra ~ .nav__item {
        text-align: right;
    }

    .nav__link {
        color: var(--color-white);
        position: relative;
        transition: all .5s;
        line-height: 50px;
    }

    .nav__link,
    .nav__link:after {
        transition: all .5s ease-out;
    }

    .nav__link:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: var(--color-white);;
        height: 1px;
    }

    .nav__link:hover {
        color: var(--color-white);
        text-decoration: none;
    }

    .nav__link:hover:after {
        width: 100%;
    }
    
    .nav__links li:last-of-type .nav__link {
        padding-right: 0;
    }

    .nav-item__wrapper ul {
        height: 100%;
    }

    .logo {
        width: auto;
        position: absolute;
        height: auto;
        max-width: 90px;
    }

    img {
        max-width: 100%;;
    }

    /**
    * Images
    */

    .section--main-image {
        background-image: url("images/main.jpg");
    }

    .section--secondary-image {
        background-image: url("images/secondary.jpg");
    }

    .section--ending-image {
        background-image: url("images/ending.jpg");
    }

    .grid__image--meet {
        height: 100%;
        object-fit: cover;
    }

    /**
    *   Display Components 
    */
    .section--image-background {
        background-attachment: fixed;
    }

    .section--contained {
        max-width: 960px;
        padding: 0 15px;
    }

    .divider-right {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 3px solid var(--color-light-gray);
        border-top: none;
    }

    .grid__tile-text {
        order: unset;
    }

    .section {
        padding: var(--scroll-nav-height) var(--lg-gutter);
    }

    .section__content--center {
        text-align: center;
    }

    .hero-copy {
        justify-content: center;
    }

    .sub-hero-copy__text {
        position: relative;
        top: 2px;
    }

    .sub-hero-copy__text--left {
        justify-content: flex-end;
    }

    .sub-hero-copy__text--right {
        justify-content: flex-start;
    }

    .grid__tile {
        width: 50%;
    }

    .footer {
        height: 120px;
    }

    .footer__icon svg {
        height: 75px;
    }
}
